body {
		background-image: url('../images/felt_table.jpg');
}

.card-container {
		perspective: 1000;
		position: absolute;
		top: -200px;
}

.card-container.show .card {
		transform: rotateY(180deg);
}

.card-container, .front, .back {
	width: 144px;
	height: 192px;
}

.card {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.card img {
		width: 144px;
		height: 192px;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.templates {
		display: none;
}

.dealer {
		margin-top: 100px;
		height: 200px;
}

.player {
		height: 200px;
		margin-top: 100px;
}

.buttons {
		margin-left: 400px;
		line-height: 30px;
		font-size: 20px;
}

.hit {
		display: inline-block;
		vertical-align: top;
		width: 100px;
		height: 30px;
		background-color: red;
		text-align: center;
		border-radius: 4px;
}

.hit:hover {
		cursor: pointer;
		background-color: green;
}

.stay {
		display: inline-block;
		vertical-align: top;
		width: 100px;
		height: 30px;
		background-color: red;
		text-align: center;
		border-radius: 4px;
}

.stay:hover {
		cursor: pointer;
		background-color: green;
}

.hit.inactive, .stay.inactive {
		background-color: gray;
}

.score {
		color: white;
		margin-left: 100px;
		font-size: 30px;
}

.ending {
		color: white;
		margin-left: 100px;
		font-size: 40px;
		height: 30px;
}